<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Go to Work Time</title>
  </head>
  <body>
    Check data from Google Maps:
    <% for (let item of data) { %>
      <section>
        <h4> <%= item.origin %> to <%= item.destination %> </h4>
        <span> <%= item.durationTraffic %> </span>
      </section>
    <% } %>
  </body>
</html>
